@alabaster: #FBFBFB;
@gray: #919191;
@black: #030303;
@ecru-white: #F4EFE4;
@tundora: #424242;
@cornflower-blue: #037EE4;
@alto: #D6D6D6;
@seashell: #F1F1F1;
@white: #FFFFFF;
@azure-radiance: #037EE4;
@dove-gray: #666666;
@sunset-orange: #FF4E50;
@indigo: #4072BF;