<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">TLS Clarity Dashboard</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <a href="#">Contact Support</a>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown open">
                <a href="#" class="dropdown-toggle" ng-click="headerMenuOpen = !headerMenuOpen" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">John Smith<span class="glyphicon glyphicon-th-list"></span></a>
                <ul ng-show="headerMenuOpen" class="dropdown-menu">
                    <li><a href="#">Sign Out</a></li>
                    <li><a href="#">Change Password</a></li>
                    <li><a href="#">Notifications</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>