header.navbar {
  background-color: @sunset-orange;

  a,
  a.navbar-brand,
  .navbar-right a{
    color: @white;
  }

  .dropdown {
    a {
      color: inherit;
    }
    &.open {
      .dropdown-toggle {
        background: inherit;
        color: @white;
      }
    }
  }
  .collapse {
    text-align: center;
  }

  .glyphicon-th-list {
    margin-left: 5px;
  }

  form.navbar-form {
    max-width: 670px;
    width: 100%;
    margin: 8px auto;
    display: inline-block;

    .form-group {
      width: 80%;
      margin-right: 10px;
    }

    input {
      height: 24px;
      width: 100%;
      border-radius: 0;
      border: 1px solid @gray;
    }

    a {
      font-size: 12px;

      &:hover {
        border-bottom: 1px solid @indigo;
        text-decoration: none;
      }
    }
  }
}