.dashboard-cards {
  color: @black;

  .dashboard-card {
    background-color: @alabaster;
    width: calc(100% / 12);
    display: inline-block;
    border: 1px solid @gray;
    padding: 0 4px;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-right: 1.85%;
    }

    h3 {
      margin: 7px 0 2px;
      font-weight: bold;
      font-size: 20px;
    }

    .text-muted {
      margin: 0;
      color: @gray;
    }

    h4 {
      font-size: 14px;
      margin-top: 1px;
      margin-bottom: 7px;
    }
  }
}

.date-select {
  background-color: @ecru-white;
  padding: 8px 0;
  overflow: auto;

  .date-select-form {
    max-width: 435px;
    width: 100%;
    margin: 0 auto;

    input[type="text"] {
      height: 20px;
      border:1px solid @gray;
      outline: none;
    }

    .date-month,
    .date-day {
      width: 40px;
    }

    .date-year {
      width: 50px;
    }

    .date-select-divider {
      color: @tundora;
      font-size: 16px;
      font-weight: bold;
    }

    .date-select-info {
      color: @cornflower-blue;
      font-size: 10px;
      margin-bottom: 0;
      margin-top: 8px;
    }
  }
}

.dashboard-table {
  font-size: 11px;

  a {
    color: @cornflower-blue;
  }

  b {
    font-weight: bold;
    color: @black;
  }

  thead {
    background-color: @alto;

    th {
    }
  }

  tbody {
    tr {
      &:nth-of-type(odd){
        background-color: @white;
      }

      &:nth-of-type(even){
        background-color: @seashell;
      }
    }
  }
}

.pagination {
  margin-top: 5px;

  li {
    a {
      padding: 0 9px;
      border: none;
      color: @azure-radiance;
      font-size: 11px;

      &:hover,
      &:focus,
      &.active {
        color: @tundora;
        background: none;
      }
    }
  }

  .pagination-button {
    color: @dove-gray;
  }
}

.export-button {
  outline: none;
  border: 2px solid @gray;
  color: @white;
  padding: 2px 8px;

  background: rgba(3,147,250,1);
  background: -moz-linear-gradient(top, rgba(3,147,250,1) 0%, rgba(3,147,250,1) 83%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(3,147,250,1)), color-stop(83%, rgba(3,147,250,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(3,147,250,1) 0%, rgba(3,147,250,1) 83%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(3,147,250,1) 0%, rgba(3,147,250,1) 83%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(3,147,250,1) 0%, rgba(3,147,250,1) 83%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(3,147,250,1) 0%, rgba(3,147,250,1) 83%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0393fa', endColorstr='#ffffff', GradientType=0 );
}

.graphics {
  display: inline-block;
  margin: 30px 0;
  width: 100%;

  graph-bar,
  graph-line {
    width: 50%;
    display: inline-block;
  }
}