<section class="row dashboard-cards">

    <div ng-repeat="card in vm.cards | limitTo: 10" class="dashboard-card">
        <h3 ng-bind='::card.number'></h3>
        <h6 ng-bind='::card.status' class="text-muted"></h6>
        <h4 ng-bind='::card.name'></h4>
    </div>

    <section class="graphics">
        <graph-bar class="pull-left"></graph-bar>
        <graph-line class="pull-right"></graph-line>
    </section>

    <section class="date-select">
        <div class="date-select-form">
            <div class="pull-left">
                <input type="text" class="date-month">
                <span class="date-select-divider">/</span>
                <input type="text" class="date-day">
                <span class="date-select-divider">/</span>
                <input type="text" class="date-year">
                <a href="#"><span class="glyphicon glyphicon-calendar"></span></a>
                <h4 class="date-select-info">From</h4>
            </div>
            <div class="pull-right">
                <input type="text" class="date-month">
                <span class="date-select-divider">/</span>
                <input type="text" class="date-day">
                <span class="date-select-divider">/</span>
                <input type="text" class="date-year">
                <a href="#"><span class="glyphicon glyphicon-calendar"></span></a>
                <h4 class="date-select-info">To</h4>
            </div>
        </div>

    </section>

    <table class="table table-striped dashboard-table">
        <thead>
            <tr>
                <th>Case Number</th>
                <th>Relativity ID</th>
                <th>Matter #</th>
                <th>Case Name</th>
                <th>Projects</th>
                <th>Case PM</th>
                <th>Date Created</th>
                <th>Time Spent</th>
                <th>Number</th>
                <th>Case Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in vm.tableData">
                <td ng-bind='::row.caseNumber'></td>
                <td ng-bind='::row.rId'></td>
                <td ng-bind='::row.matter'></td>
                <td ng-bind='::row.name'></td>
                <td class="text-muted">
                    <b ng-bind='::row.projects.active'></b> / 
                    <span ng-bind='::row.projects.archive'></span>
                </td>
                <td ng-bind='row.caseNumber'>
                    <a ng-href="{{::row.casePM.href}}" ng-bind='::row.casePM.title'></a>
                </td>
                <td ng-bind="::row.date | date:'dd/MM/yyyy'"></td>
                <td>{{row.spent | date:"M'm,' d'd,' h'h'"}}</td>
                <td ng-bind='::row.number'></td>
                <td ng-bind='::row.caseStatus'></td>
            </tr>
        </tbody>
    </table>


    <nav class="text-center">
        <ul class="pagination pagination-sm">
            <li><a href="#" class="active">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">21</a></li>
            <li><a href="#">22</a></li>
            <li><a href="#" aria-label="Next" class="pagination-button"><span aria-hidden="true" class="glyphicon glyphicon-triangle-right"></span></a></li>
        </ul>

        <button class="pull-right export-button">Export to Excel</button>
    </nav>
</section>